@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
}

h1 {
	font-size: 2.5rem;
	color: #343a40;
}

form label {
	font-size: 1.1rem;
	color: #495057;
}

button {
	font-size: 1.2rem;
}

button i {
	margin-right: 8px;
}

small {
	font-size: 0.9rem;
	color: #6c757d;
}